





section.about .sec1 {
    display:  grid;
    grid-template-columns: 0.2fr 1.2fr;
    
    grid-gap: 0rem;
}

section.about .sec1 .left .up {
    position: relative;
    text-align: center;
}

section.about {
    display:  grid;
    background-color: aqua;
    grid-gap: 1rem;
}
