/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Free_Vector2.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.Section1
{
    background-color: #133137;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
}

.navbar
{
    width: 20%;
    height: 75px;
    margin: auto;
}

.icon
{
    margin-top: 3%;
    width: 200px;
}

.logo
{
    color: #158eb7;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-left: 10px;
}

.menu-bar
{
    width: 60%;
    float: left;
    height: 70px;
    position: left;
    
}

.menu-bar ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}


.Section1 .menu-bar ul li
{   
    margin-top: 28px;
    font-size: 18px;
}


.Section1 .menu-bar .sub-catagories ul
{ 
    display: flex;
    flex-direction: column;
}

.menu-bar ul li 
{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.8s;
}

.menu-bar ul li a:hover
{
    color: aqua;
}

.sub-catagories
{
    display: none;
}

.menu-bar ul li:hover .sub-catagories
{
    display: block;
    position: absolute;
    background-color: #133137;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-catagories ul li
{
    display: block;
    margin-top: 15px;
}

.search
{
    width: 60%;
    float: left;
    height: 40px;
}

.srch
{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 18px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0px 5px;
}

.btn
{
    width: 80px;
    height: 40px;
    background:  #158eb7;
    border: none;
    padding:10px 5px;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 17px;
}

.btn:focus
{
    outline: none;
}

.srch:focus
{
    outline: none;
}


.Section1 .cart ul{
    margin-top: 25px;
    margin-right: 40px;
    list-style: none;
    color: #fff;
    text-decoration: none;

}


.Section1 .cart ul li a i{
    
    color: #fff;
    font-size: 25px;
}

.login{
    padding: 10px 10px;
    background-color: #133137;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.login-btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #49b9de, #158eb7);
    font-size: 20px;
    border-radius: 30px;
    border-top-left-radius: 0;
    transition: 0.5s;
    margin-right: 10px;
}

.signup-btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #49b9de, #158eb7);
    font-size: 20px;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    transition: 0.5s;
}

.login-btn:hover{
    border-top-left-radius: 30px;
}

.signup-btn:hover{
    border-bottom-right-radius: 30px;
}